{
    email example@example.com
}

api.example.com {
    reverse_proxy backend:8000
}

storage.example.com/admin {
    reverse_proxy storage:9001
}

storage.example.com {
    reverse_proxy storage:9000
}
